
{% load static %}
{% block content %}
<!DOCTYPE html>


<html lang="en" dir="ltr">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/main.css" %}">
  <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&display=swap" rel="stylesheet">
</head>
 

<div class="container ml-5 mt-5 mr-5">
<h1>Hello, how are you?</h1>
<form action="{% url 'tugas:status' %}" method="post">

    {% csrf_token %}
    {{ form }}
    <input type="submit" class="btn btn-primary" value="Submit">
</form>
</div>

<h1 class = "text-center mt-5 mb-5" style="font-weight:700">Status</h1>
<div class=" col-lg-12 col-md-12 col-sm-12">
<div class="row">
<table class="table">
  <thead style="font-size: 25px">
    <tr>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody style="font-size: 20px">
    {% for stats in stats %}
    <tr>
      <td>{{ stats.status }}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
</div>
</div>
{% endblock %}
